*[display-flex] {
    display: flex;
}

*[align-items-baseline] {
    align-items: baseline;
}

*[padding-control] {
    margin-left: 121.6px;
    padding-top: 55.15px;
}

*[left-padding-control] {
    margin-left: 121.6px;
}

*[position-relative] {
    position: relative;
}

*[cursor-pointer] {
    cursor: pointer;
}

*[no-margin] {
    margin: 0 !important;
}